{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block sidebar %}
  <div class="col-sm-3 col-md-2 sidebar">

    <ul class="nav nav-sidebar">
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
      <li class="active"><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
      <li><a href="#">Menu Item</a></li>
    </ul>

  </div>
{% endblock sidebar %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>City List</h1>

    {% for city in cities %}
      <div class="well well-sm">
        <h4>{{ city.city }}</h4>
        <p>Population: {{ city.population }} Zip: {{ city.zipcode }}</p>
      </div>
    {% endfor %}

    {% bootstrap_paginate cities range=10 show_prev_next="true" show_first_last="true" %}

  </div>
{% endblock %}

