{% extends 'base.html' %}

{% block title %}
  <title>Select a State</title>
{% endblock title %}

{% block javascript_header %}
  <script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock javascript_header %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Select a State</h1>

      <form action="" method="post">{% csrf_token %}

        <div class="form-group">
          {{ form.states }}
        </div>

        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>

    </div>
  </div>
{% endblock content %}

