<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Surface Locations
      </a>
    </div>

    <a class="btn btn-success navbar-btn" href="{% url 'index' %}">Home</a>
    <a class="btn btn-primary navbar-btn" href="{% url 'state' %}">States</a>
    <a class="btn btn-primary navbar-btn" href="{% url 'about' %}">About</a>
    <a class="btn btn-warning navbar-btn" href="/admin">Admin</a>
  </div>
</nav>
