{% extends 'base.html' %}

{% block title %}
  <title>About the project</title>
{% endblock title %}

{% block content %}
<div class="container">
  <h1>About</h1>
  <p>{{ context }}</p>
</div>

<div class="container">
<div id="graph-example"></div>
</div>


{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script>

    d3.json("{% url 'api-json' state='ma' %}", function(error, data) {

      var margin = {top: 20, right: 20, bottom: 40, left: 40},
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;
          padding = 2;

      var svg = d3.select('#graph-example').append('svg')
          .attr({
            width:width + margin.left + margin.right,
            height:height + margin.top + margin.bottom
          })
          .append('g')
          .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

      var dataset = data.results;

      var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);
      var y = d3.scale.linear().range([height, 0]);

      x.domain(dataset.map(function(d) { return d.zipcode; }));
      y.domain([0, d3.max(dataset, function(d) { return d.population; })]);

      var xAxis = d3.svg.axis().scale(x).orient('bottom');
      var yAxis = d3.svg.axis().scale(y).orient('left');

      svg.selectAll('rect')
        .data(dataset)
        .enter()
        .append('rect')
          .attr('x', function(d) {return x(d.zipcode);})
          .attr('y', function(d) {return y(d.population);})
          .attr('width', x.rangeBand())
          .attr('height', function(d) {return height - y(d.population);})
          .attr('fill', function(d) {return '#336699';});

      svg.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + height + ')')
        .attr('font-size', '10')
        .call(xAxis)
        .append('text')
          .attr('x', (width / 2))
          .attr('y', 35)
          .attr('font-size', '16')
          .style('text-anchor', 'end')
          .text('Zipcode');

      svg.append('g')
          .attr('class', 'y axis')
          .call(yAxis)
          .attr('font-size', '10')
        .append('text')
          .attr('transform', 'rotate(-90)')
          .attr('y', 5)
          .attr('dy', '.71em')
          .attr('font-size', '16')
          .style('text-anchor', 'end')
          .text('Population');

    });
  </script>

{% endblock javascript %}
